@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.ctc{
    display: flex;
    justify-content: center;
    background-image: url(background/raceflag.png);
    z-index: -1;
}

.raceflag{
    position: absolute;
    z-index: -1;
    max-width: 100%;
    max-height: 100%;
    height: fit-content;
}

.contactsection{
    display: flex;
    background-image: url(backgrond/raceflag.png);
    z-index: 0;
    margin-top: 25px;
}

#msg6{
    margin-right: 400px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    width: auto;
    height: fit-content;
    padding: 6px;
    color: white;
    border: solid 3px #e72e2e;
}

.contactbox{
    display: block;
    position: relative;
    left: 0px;
    margin-top: 30px;
    /* left: 400px; 
    max-width: 450px; */
    border: solid 3px #e72e2e;
    font-family: 'Montserrat', sans-serif;
    background: black;
    color: white;
    justify-content: center;
    padding: 15px;
}

.inputs{
    padding: 4px;
    margin: 5px
}



/* RESPONSIVE */

@media screen and (max-width: 1370px) {
    .contactbox{
        left: -30px;
    }

}