body {
   
    max-width:2560px;
    margin:0 auto;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template: "header"
                   "main"
                   "footer";
}

.header {
    grid-area:header;


}

.main {
    grid-area:main;

}

.footer {
    grid-area:footer;

}


/* Slider */


.container-slider {
    padding-top:1rem;
    text-align: center;
}

.slider {
    width:95%;
    margin:3rem auto;
    margin-bottom: 0;
    height:200px;
    overflow: hidden;
    line-height:0;
    padding:0;

}
.slider ul li {
    list-style: none;
    margin:0;
    padding:0;

}

.slider ul {
    padding:0;
    display: flex;
    width:400%;

    animation:slider 20s infinite alternate;
}

.slider li {
    width:100%;
    list-style: none;
}

.slider li img {
    width:100%;
    object-fit:cover;
}

@keyframes slider {
    0% {margin-left:0}
    20% {margin-left:0}

    25% {margin-left:-100%}
    45% {margin-left:-100%}

    50% {margin-left:-200%}
    70% {margin-left:-200%}

    75% {margin-left:-300%}
    100% {margin-left:-300%}
}

