.location{
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    position: relative;
}


.localestitle{
    justify-items: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    border: solid 3px black;
}

.locales{
    font-family: 'Montserrat', sans-serif;
    display: inline-flex;
    margin: 0 auto;
}

.mapouter{
    display: flex;
    text-align: left;
    justify-items: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.gmap_canvas1{
    margin-right: auto;
    margin-left: auto;
    max-width: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.gmap_canvas2{
    margin-right: auto;
    margin-left: auto;
    max-width: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}