@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    text-align: center;
}

.main {
    max-width:1920px;
    margin: 0 auto;
}

.main p {
    max-width:1440px;
    margin:0 auto;
    padding:0 2rem;
    line-height: 1.8rem;
    padding:1.5rem;
    font-size: 1.1rem;
}

.us {
    margin:4rem 0;
}

.us p {
    padding:.7rem 2rem;

}
.us > h2 {
    font-size: 1.7rem;
    letter-spacing: 2px;
}




.titulodiv{
    text-align: center;
}

.titulodest{
    font-family: 'Montserrat', sans-serif;
    background: #FBDE37;
    padding: 3px 3px;
    display: inline-flex;
    justify-content: center;
    box-align: center;
    border-radius: 10px;
    border: 3px solid #283571 ;
    box-shadow: 1px 5px 10px #283571;
}

.wrapper h2 {
    font-size: 1.7rem;
    font-weight: bolder;
    letter-spacing: 2px;

}
.container{

    display: flex;
    flex-wrap:wrap;

    padding:4rem 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;

    
}

.cards-container {
    position: relative;
    margin:2rem 0;
}
.cards-container .tires {
    background-image: url('https://raw.githubusercontent.com/watonhacker/cbarralestemplate/main/img/tyres.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:95%;
    width:100%;
    position: absolute;

    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    z-index:-1;
}


.titulos{
    font-weight: 300;
}
.infocasas{
    font-weight: 300;
}
.precios{
    font-weight: 300;
}
.flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.skills{
    background: #222;
    color: white;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.5);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    padding:1rem;
    width:30%;
    min-width:250px;
    max-width:350px;


} 
.precios{
    font-size: 30px;
    color: #f6ecf0;
}
.btn-ver{
    background: #f6ecf0;
    display: block;
    padding: 7px;
    color: black;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 3px;
    width:100px;
    margin:0 auto;
}
.btn-ver:hover{
    background: #b4a8ae;
    transition: 0.4s;
}

.skillsline{
    border-color:#e72e2e
}

.titulos{
    padding-bottom: 6px;
}

.infoskill{
    color: white;
}
/*IMAGENES*/
.imgs{
    width:250px;
    height:150px;
    border-radius:.3rem;
    -webkit-border-radius:.3rem;
    -moz-border-radius:.3rem;
    -ms-border-radius:.3rem;
    -o-border-radius:.3rem;
}