@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
    padding:0;
}

#logo{
    width:300px;

}

.menu {
    display: flex;
    flex-wrap: wrap;


    align-items: center;
    align-content: center;
    justify-content: center;
}

.flexbox{
    padding:1.5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items: center;
    align-content: center;

    position: sticky;
    top:0;

    background: #000;
    height: 100px;
    text-decoration: none;
    color: white;

    z-index: 1;
}

.main-image {
    background-image: url('/background/main-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height:350px;
    
}

.main-image .info {
    width:100%;
    height:50px;
    background-color: #333;
    opacity:.8;

    font-family: 'Montserrat', sans-serif;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

}
.main-image .info h2 {
    color:#fff;
    font-size: 1.2rem;
}

.main-image .info img {
    width:30px;
    padding: 0 .7rem;

}

.menubtn{
    margin:.5rem;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.menutext{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    transition: 0.7s;
}



/* RESPONSIVE */

@media screen and (max-width: 1370px) {
    .menutext{
        font-size: 18px;
    }


}


@media screen and (max-width: 1279px) {
    .menutext{
        font-size: 16px;
    }
}

/* END RESPONSIVE */



/* EFFECTS */

.menutext:hover{
        color: #e72e2e;
        transition: 0.6s;
    }

/* END EFFECTS */